n8n/ Backup.json
{
  "createdAt": "2025-06-06T09:46:32.021Z",
  "updatedAt": "2025-06-06T10:11:00.000Z",
  "id": "Kn8jMdakVafLUnlY",
  "name": "Backup",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        60
      ],
      "id": "c8af86e1-0092-466b-84f0-7fe3c3ad0ddc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        440,
        60
      ],
      "id": "e3c547dc-43bd-4d38-a4fd-044686cf8fe6",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "qM5vbAhgzDco8ZSj",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        660,
        60
      ],
      "id": "25736cd6-693b-4991-ad1d-2a72801460cb",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=backup/ {{ $('n8n').item.json.name }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        880,
        60
      ],
      "id": "71806d34-817b-4438-89f1-987bd6bb0f9e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "events": [
          "update",
          "activate"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -140
      ],
      "id": "1b48a319-14c9-4481-ad42-341818e939a8",
      "name": "n8n Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        260
      ],
      "id": "6fef4063-d2d8-4568-b406-b4534953edc9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        220,
        60
      ],
      "id": "2de6e6b2-da61-4537-ba7a-71fb89de723e",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Trigger": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8a6df9ac-832d-4968-b12c-83cae4e2d612",
  "triggerCount": 2,
  "tags": []
}