node-red/flows.json
[
    {
        "id": "f4db1daabc9dfc5d",
        "type": "tab",
        "label": "Catch and Debug",
        "disabled": true,
        "info": ""
    },
    {
        "id": "af30e016d4a15d8c",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": "What is description?"
    },
    {
        "id": "663a6ec097ccb70a",
        "type": "tab",
        "label": "HA - Mazgan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "efe2406464df235c",
        "type": "tab",
        "label": "Zones",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e5465b76654cc6f",
        "type": "tab",
        "label": "notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eea98ea73f48dbd0",
        "type": "tab",
        "label": "Climate Temperature Change",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d59d458fd90c2b97",
        "type": "tab",
        "label": "paperless",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "inbox_tag",
                "value": "19",
                "type": "num"
            },
            {
                "name": "add_custom_field_tag",
                "value": "16",
                "type": "num"
            }
        ]
    },
    {
        "id": "6dc0247c.d7210c",
        "type": "subflow",
        "name": "Actionable Notification",
        "info": "[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n",
        "category": "",
        "in": [
            {
                "x": 84,
                "y": 80,
                "wires": [
                    {
                        "id": "9d85d137.fe487"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1172,
                "y": 128,
                "wires": [
                    {
                        "id": "974bd48d.c253e8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1172,
                "y": 176,
                "wires": [
                    {
                        "id": "974bd48d.c253e8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1172,
                "y": 224,
                "wires": [
                    {
                        "id": "974bd48d.c253e8",
                        "port": 2
                    }
                ]
            },
            {
                "x": 964,
                "y": 240,
                "wires": [
                    {
                        "id": "5bc7345c.07b1cc",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "service",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Notify Service"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "title",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Title"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "message",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Message"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "json",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "action1Title",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action 1 Title"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "action1Uri",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action 1 URI (optional)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "action2Title",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action 2 Title"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "action2Uri",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action 2 URI (optional)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "action3Title",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action 3 Title"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "action3Uri",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Action 3 URI (optional)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "userInfo",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Populate User Information"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "sticky",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Sticky"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "group",
                "type": "str",
                "value": "None",
                "ui": {
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "None"
                                },
                                "v": ""
                            },
                            {
                                "l": {
                                    "en-US": "Cameras"
                                },
                                "v": "camera"
                            },
                            {
                                "l": {
                                    "en-US": "Security"
                                },
                                "v": "security"
                            },
                            {
                                "l": {
                                    "en-US": "Garage"
                                },
                                "v": "garage"
                            },
                            {
                                "l": {
                                    "en-US": "Laundry Room"
                                },
                                "v": "laundry_room"
                            }
                        ]
                    }
                }
            },
            {
                "name": "color",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Color"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "timeout",
                "type": "num",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Timeout"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "icon",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Icon"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "Action 1",
            "Action 2",
            "Action 3",
            "Cleared"
        ],
        "status": {
            "x": 244,
            "y": 272,
            "wires": [
                {
                    "id": "204dbcfc.144ae4",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "7a49c761379bbfc4",
        "type": "subflow",
        "name": "Change Mazgan State",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 100,
                "wires": [
                    {
                        "id": "92f8b78b9837f6d0"
                    },
                    {
                        "id": "04341d1f4bd84f1d"
                    },
                    {
                        "id": "18d32cddc05fd048"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "hvac_mode",
                "type": "str",
                "value": ""
            },
            {
                "name": "message",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7e9dbc3e6354d1a2",
        "type": "subflow",
        "name": "Reset Leave the Work",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 380,
                "y": 160,
                "wires": [
                    {
                        "id": "8e8cbc291db48965"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7715d2a1a6ed6ca1",
        "type": "subflow",
        "name": "paperless http",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "8370e34a5ca7dc65"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 960,
                "y": 80,
                "wires": [
                    {
                        "id": "86e77a962e6f7bc0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "method",
                "type": "str",
                "value": "GET",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "GET"
                                },
                                "v": "GET"
                            },
                            {
                                "l": {
                                    "en-US": "POST"
                                },
                                "v": "POST"
                            },
                            {
                                "l": {
                                    "en-US": "DELETE"
                                },
                                "v": "DELETE"
                            },
                            {
                                "l": {
                                    "en-US": "PUT"
                                },
                                "v": "PUT"
                            }
                        ]
                    }
                }
            },
            {
                "name": "endpoint",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f347e0c08d711612",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "750b4b2d.152d34",
        "type": "mqtt-broker",
        "name": "Aedes",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f9e57204.71076",
        "type": "function",
        "z": "6dc0247c.d7210c",
        "name": "create service call",
        "func": "const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: env.get('title'),\n            message: env.get('message'),\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);",
        "finalize": "",
        "libs": [],
        "x": 298,
        "y": 80,
        "wires": [
            [
                "368c9723.5876f8"
            ]
        ]
    },
    {
        "id": "974bd48d.c253e8",
        "type": "switch",
        "z": "6dc0247c.d7210c",
        "name": "which action?",
        "property": "eventData.event.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action1Id",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "action2Id",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "action3Id",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1024,
        "y": 176,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "204dbcfc.144ae4",
        "type": "status",
        "z": "6dc0247c.d7210c",
        "name": "",
        "scope": [
            "f9e57204.71076",
            "5bc7345c.07b1cc",
            "a622c92a.2d9898",
            "368c9723.5876f8"
        ],
        "x": 124,
        "y": 272,
        "wires": [
            []
        ]
    },
    {
        "id": "5bc7345c.07b1cc",
        "type": "function",
        "z": "6dc0247c.d7210c",
        "name": "build message",
        "func": "const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 832,
        "y": 176,
        "wires": [
            [
                "974bd48d.c253e8"
            ],
            []
        ]
    },
    {
        "id": "8d3bdc0c.37493",
        "type": "switch",
        "z": "6dc0247c.d7210c",
        "name": "belongs here?",
        "property": "payload.event.tag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "notificationTag",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 432,
        "y": 176,
        "wires": [
            [
                "83ad2004.d04d"
            ]
        ]
    },
    {
        "id": "271e4479.b9249c",
        "type": "ha-api",
        "z": "6dc0247c.d7210c",
        "name": "get user info",
        "server": "f347e0c08d711612",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\"type\": \"config/auth/list\"}",
        "dataType": "json",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "userData",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 822,
        "y": 128,
        "wires": [
            [
                "5bc7345c.07b1cc"
            ]
        ]
    },
    {
        "id": "3618f055.6909a",
        "type": "server-events",
        "z": "6dc0247c.d7210c",
        "name": "mobile_app_notification_cleared",
        "server": "f347e0c08d711612",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "mobile_app_notification_cleared",
        "eventData": "",
        "waitForRunning": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            },
            {
                "property": "event_type",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 194,
        "y": 224,
        "wires": [
            [
                "8d3bdc0c.37493"
            ]
        ]
    },
    {
        "id": "83ad2004.d04d",
        "type": "switch",
        "z": "6dc0247c.d7210c",
        "name": "fetch user info?",
        "property": "userInfo",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 624,
        "y": 176,
        "wires": [
            [
                "271e4479.b9249c"
            ],
            [
                "5bc7345c.07b1cc"
            ]
        ]
    },
    {
        "id": "9d85d137.fe487",
        "type": "switch",
        "z": "6dc0247c.d7210c",
        "name": "",
        "property": "clear_notification",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 143,
        "y": 80,
        "wires": [
            [
                "f9e57204.71076"
            ],
            [
                "a622c92a.2d9898"
            ]
        ],
        "l": false
    },
    {
        "id": "a622c92a.2d9898",
        "type": "function",
        "z": "6dc0247c.d7210c",
        "name": "create clear notification",
        "func": "const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 318,
        "y": 128,
        "wires": [
            [
                "368c9723.5876f8"
            ]
        ]
    },
    {
        "id": "9bfe567c.3d10c8",
        "type": "server-events",
        "z": "6dc0247c.d7210c",
        "name": "mobile_app_notification_action",
        "server": "f347e0c08d711612",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "mobile_app_notification_action",
        "eventData": "",
        "waitForRunning": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            },
            {
                "property": "event_type",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 194,
        "y": 176,
        "wires": [
            [
                "8d3bdc0c.37493"
            ]
        ]
    },
    {
        "id": "368c9723.5876f8",
        "type": "api-call-service",
        "z": "6dc0247c.d7210c",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 6,
        "debugenabled": false,
        "action": "notify.",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "callServiceData",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "92f8b78b9837f6d0",
        "type": "subflow:6dc0247c.d7210c",
        "z": "7a49c761379bbfc4",
        "name": "Send message to Baruch & Zohar",
        "env": [
            {
                "name": "service",
                "value": "mobile_app_baruch_phone,mobile_app_plpvn_zhr",
                "type": "str"
            },
            {
                "name": "title",
                "value": "מזגן",
                "type": "str"
            },
            {
                "name": "message",
                "value": "message",
                "type": "env"
            },
            {
                "name": "action1Title",
                "value": "כן",
                "type": "str"
            },
            {
                "name": "action2Title",
                "value": "לא",
                "type": "str"
            },
            {
                "name": "group",
                "value": "",
                "type": "str"
            }
        ],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "d38d0e072519e5eb",
                "d961ea6c2cadc813"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "d38d0e072519e5eb",
        "type": "api-call-service",
        "z": "7a49c761379bbfc4",
        "name": "Set Mazgan State",
        "server": "f347e0c08d711612",
        "version": 6,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.mzgn"
        ],
        "labelId": [],
        "data": "{\"hvac_mode\":$env('hvac_mode')}\t",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "climate",
        "service": "set_hvac_mode",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d961ea6c2cadc813",
        "type": "debug",
        "z": "7a49c761379bbfc4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "228d6a542f7ea8bd",
        "type": "debug",
        "z": "7a49c761379bbfc4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$env('hvac_mode')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "04341d1f4bd84f1d",
        "type": "debug",
        "z": "7a49c761379bbfc4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$env('hvac_mode')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "18d32cddc05fd048",
        "type": "debug",
        "z": "7a49c761379bbfc4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "$env('message')",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "8e8cbc291db48965",
        "type": "api-call-service",
        "z": "7e9dbc3e6354d1a2",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 6,
        "debugenabled": false,
        "action": "input_datetime.set_datetime",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.leaving_the_work"
        ],
        "labelId": [],
        "data": "{\"time\":\"16:50:00\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "input_datetime",
        "service": "set_datetime",
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "86e77a962e6f7bc0",
        "type": "http request",
        "z": "7715d2a1a6ed6ca1",
        "name": "correspondents",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://paperless.baruchiro.online{{{endpoint}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8370e34a5ca7dc65",
        "type": "change",
        "z": "7715d2a1a6ed6ca1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "method",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "35eade43e9527db2"
            ]
        ]
    },
    {
        "id": "35eade43e9527db2",
        "type": "switch",
        "z": "7715d2a1a6ed6ca1",
        "name": "",
        "property": "endpoint",
        "propertyType": "env",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "86e77a962e6f7bc0"
            ],
            [
                "1615d79c28cad878"
            ]
        ]
    },
    {
        "id": "1615d79c28cad878",
        "type": "change",
        "z": "7715d2a1a6ed6ca1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "endpoint",
                "pt": "msg",
                "to": "endpoint",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "86e77a962e6f7bc0"
            ]
        ]
    },
    {
        "id": "2086072a2e5d6b1e",
        "type": "link in",
        "z": "f4db1daabc9dfc5d",
        "name": "catch",
        "links": [],
        "x": 145,
        "y": 120,
        "wires": [
            [
                "6d57996a0ce059d5"
            ]
        ]
    },
    {
        "id": "6d57996a0ce059d5",
        "type": "debug",
        "z": "f4db1daabc9dfc5d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "381e0db81a5b7a11",
        "type": "inject",
        "z": "af30e016d4a15d8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "footopic",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "94a8e4bc7a9e7caa"
            ]
        ]
    },
    {
        "id": "b74ada49.d7e408",
        "type": "server-state-changed",
        "z": "af30e016d4a15d8c",
        "d": true,
        "name": "",
        "server": "f347e0c08d711612",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sun.sun"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "above_horizon",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "1f467cbb.0c3983"
            ],
            []
        ]
    },
    {
        "id": "1f467cbb.0c3983",
        "type": "api-call-service",
        "z": "af30e016d4a15d8c",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 6,
        "debugenabled": false,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.front_porch"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "light",
        "service": "turn_off",
        "output_location": "",
        "output_location_type": "none",
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "94a8e4bc7a9e7caa",
        "type": "subflow:7a49c761379bbfc4",
        "z": "af30e016d4a15d8c",
        "name": "",
        "env": [
            {
                "name": "hvac_mode",
                "value": "cool",
                "type": "str"
            },
            {
                "name": "message",
                "value": "להפעיל מזגן על קירור?",
                "type": "str"
            },
            {
                "name": "state",
                "value": "cool",
                "type": "str"
            }
        ],
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee5b8cdb1f447d58",
        "type": "inject",
        "z": "af30e016d4a15d8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "e84a90711c0d693a"
            ]
        ]
    },
    {
        "id": "e84a90711c0d693a",
        "type": "api-call-service",
        "z": "af30e016d4a15d8c",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 6,
        "debugenabled": false,
        "action": "climate.set_hvac_mode",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.mzgn"
        ],
        "labelId": [],
        "data": "{\"hvac_mode\":\"off\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "climate",
        "service": "set_hvac_mode",
        "x": 550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "aee4550283659876",
        "type": "server-state-changed",
        "z": "663a6ec097ccb70a",
        "name": "Mazgan state changed",
        "server": "f347e0c08d711612",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "climate.mzgn"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 198,
        "y": 194,
        "wires": [
            [
                "e02aea2be147c0f2",
                "93fb88c047a7fbc4"
            ]
        ]
    },
    {
        "id": "e02aea2be147c0f2",
        "type": "switch",
        "z": "663a6ec097ccb70a",
        "name": "Switch State",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "92c36713b79ecd4b"
            ],
            [
                "84853d3bd35eb516"
            ],
            []
        ]
    },
    {
        "id": "92c36713b79ecd4b",
        "type": "api-current-state",
        "z": "663a6ec097ccb70a",
        "name": "cool for 3 hours",
        "server": "f347e0c08d711612",
        "version": 3,
        "outputs": 2,
        "halt_if": "cool",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.mzgn",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "3",
        "forType": "num",
        "forUnits": "hours",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "f4b44f759895773a"
            ],
            []
        ]
    },
    {
        "id": "f4b44f759895773a",
        "type": "subflow:7a49c761379bbfc4",
        "z": "663a6ec097ccb70a",
        "name": "Set Mazgan to Dry",
        "env": [
            {
                "name": "message",
                "value": "3 שעות של קירור. להעביר למצב טיפה?",
                "type": "str"
            },
            {
                "name": "state",
                "value": "dry",
                "type": "str"
            }
        ],
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "84853d3bd35eb516",
        "type": "api-current-state",
        "z": "663a6ec097ccb70a",
        "name": "dry for half-hour",
        "server": "f347e0c08d711612",
        "version": 3,
        "outputs": 2,
        "halt_if": "dry",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.mzgn",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "30",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "cabd99f4b7cb7398"
            ],
            []
        ]
    },
    {
        "id": "93fb88c047a7fbc4",
        "type": "debug",
        "z": "663a6ec097ccb70a",
        "name": "Mazgan State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "cabd99f4b7cb7398",
        "type": "subflow:7a49c761379bbfc4",
        "z": "663a6ec097ccb70a",
        "name": "Set Mazgan to Dry",
        "env": [
            {
                "name": "hvac_mode",
                "value": "dry",
                "type": "str"
            },
            {
                "name": "message",
                "value": "מצב טיפה כבר חצי שעה. לעבור לקירור?",
                "type": "str"
            }
        ],
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "69fbd4dd8b027384",
        "type": "server-state-changed",
        "z": "663a6ec097ccb70a",
        "name": "Mazgan Temperature",
        "server": "f347e0c08d711612",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "climate.mzgn"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 200,
        "y": 460,
        "wires": [
            [
                "11d2f516449abc81",
                "cf8b1bd5317ab2c5"
            ]
        ]
    },
    {
        "id": "11d2f516449abc81",
        "type": "debug",
        "z": "663a6ec097ccb70a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "c062b0f505e882e2",
        "type": "api-current-state",
        "z": "663a6ec097ccb70a",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "climate.mzgn",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "11d2f516449abc81",
                "cf8b1bd5317ab2c5",
                "89d3356177589370"
            ]
        ]
    },
    {
        "id": "1e5f1acd2d7824de",
        "type": "inject",
        "z": "663a6ec097ccb70a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "c062b0f505e882e2"
            ]
        ]
    },
    {
        "id": "75840a840d37f893",
        "type": "ha-device",
        "z": "663a6ec097ccb70a",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 1,
        "exposeAsEntityConfig": "",
        "inputs": 0,
        "deviceType": "trigger",
        "device": "3daeb7afe3a86c54a308f1f0efd58f89",
        "event": {
            "platform": "device",
            "device_id": "3daeb7afe3a86c54a308f1f0efd58f89",
            "domain": "climate",
            "entity_id": "946a669e8b6968b40a237f5126631b0c",
            "type": "current_temperature_changed",
            "metadata": {
                "secondary": false
            }
        },
        "capabilities": [
            {
                "name": "above",
                "type": "float",
                "value": 10
            },
            {
                "name": "below",
                "type": "float",
                "value": 50
            },
            {
                "name": "for",
                "type": "positive_time_period_dict",
                "value": 10,
                "unit": "seconds"
            }
        ],
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 680,
        "wires": [
            [
                "d2bea1d1c545eecd",
                "ba38025c992eecb8",
                "313a71e0a67d915d"
            ]
        ]
    },
    {
        "id": "d2bea1d1c545eecd",
        "type": "debug",
        "z": "663a6ec097ccb70a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "ba38025c992eecb8",
        "type": "subflow:6dc0247c.d7210c",
        "z": "663a6ec097ccb70a",
        "name": "",
        "env": [
            {
                "name": "service",
                "value": "mobile_app_baruch_phone",
                "type": "str"
            },
            {
                "name": "title",
                "value": "מזגן",
                "type": "str"
            },
            {
                "name": "message",
                "value": "msg.payload",
                "type": "env"
            },
            {
                "name": "group",
                "value": "",
                "type": "str"
            }
        ],
        "x": 510,
        "y": 740,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "313a71e0a67d915d",
        "type": "subflow:6dc0247c.d7210c",
        "z": "663a6ec097ccb70a",
        "name": "",
        "env": [
            {
                "name": "service",
                "value": "mobile_app_baruch_phone",
                "type": "str"
            },
            {
                "name": "title",
                "value": "מזגן",
                "type": "str"
            },
            {
                "name": "message",
                "value": "תבדוק במחשב",
                "type": "str"
            },
            {
                "name": "group",
                "value": "",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 860,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "cf8b1bd5317ab2c5",
        "type": "debug",
        "z": "663a6ec097ccb70a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "89d3356177589370",
        "type": "debug",
        "z": "663a6ec097ccb70a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "data.attributes.current_temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "b36e7ed7b39ed3e7",
        "type": "ha-zone",
        "z": "efe2406464df235c",
        "name": "Enter to פינת הבילויים",
        "server": "f347e0c08d711612",
        "version": 1,
        "exposeAsEntityConfig": "",
        "entities": [
            "person.baruch_odem"
        ],
        "event": "enter",
        "zones": [
            "zone.pynt_hbylvyym"
        ],
        "x": 150,
        "y": 300,
        "wires": [
            [
                "612ee082819042e8"
            ]
        ]
    },
    {
        "id": "faefe018c6ed53a6",
        "type": "subflow:6dc0247c.d7210c",
        "z": "efe2406464df235c",
        "name": "Notify to start Pango",
        "env": [
            {
                "name": "service",
                "value": "mobile_app_baruch_phone",
                "type": "str"
            },
            {
                "name": "title",
                "value": "פנגו",
                "type": "str"
            },
            {
                "name": "message",
                "value": "לא לשכוח להפעיל פנגו",
                "type": "str"
            },
            {
                "name": "action1Title",
                "value": "הפעלתי",
                "type": "str"
            },
            {
                "name": "group",
                "value": "",
                "type": "str"
            }
        ],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "cfc31dc9ac4e4d7d"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "cfc31dc9ac4e4d7d",
        "type": "ha-wait-until",
        "z": "efe2406464df235c",
        "name": "wait 3 hours in place",
        "server": "f347e0c08d711612",
        "version": 3,
        "outputs": 2,
        "entities": {
            "entity": [
                "zone.pynt_hbylvyym"
            ],
            "substring": [],
            "regex": []
        },
        "property": "state",
        "comparator": "lt",
        "value": "1",
        "valueType": "num",
        "timeout": "175",
        "timeoutType": "num",
        "timeoutUnits": "minutes",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "x": 920,
        "y": 140,
        "wires": [
            [
                "39461260c8254dd3"
            ],
            [
                "612ee082819042e8"
            ]
        ]
    },
    {
        "id": "612ee082819042e8",
        "type": "ha-wait-until",
        "z": "efe2406464df235c",
        "name": "Wait 5 min on this place",
        "server": "f347e0c08d711612",
        "version": 3,
        "outputs": 2,
        "entities": {
            "entity": [
                "zone.pynt_hbylvyym"
            ],
            "substring": [],
            "regex": []
        },
        "property": "state",
        "comparator": "lt",
        "value": "0",
        "valueType": "num",
        "timeout": "5",
        "timeoutType": "num",
        "timeoutUnits": "minutes",
        "checkCurrentState": true,
        "blockInputOverrides": true,
        "outputProperties": [],
        "x": 430,
        "y": 300,
        "wires": [
            [],
            [
                "faefe018c6ed53a6"
            ]
        ]
    },
    {
        "id": "39461260c8254dd3",
        "type": "subflow:6dc0247c.d7210c",
        "z": "efe2406464df235c",
        "name": "Notify to stop pango",
        "env": [
            {
                "name": "service",
                "value": "mobile_app_baruch_phone",
                "type": "str"
            },
            {
                "name": "title",
                "value": "פנגו",
                "type": "str"
            },
            {
                "name": "message",
                "value": "אל תשכח לכבות את הפנגו",
                "type": "str"
            },
            {
                "name": "action1Title",
                "value": "כיביתי",
                "type": "str"
            },
            {
                "name": "action2Title",
                "value": "הפעלתי שוב",
                "type": "str"
            },
            {
                "name": "group",
                "value": "",
                "type": "str"
            }
        ],
        "x": 1060,
        "y": 300,
        "wires": [
            [],
            [
                "cfc31dc9ac4e4d7d"
            ],
            [],
            []
        ]
    },
    {
        "id": "df23ef3b60c292fc",
        "type": "ha-time",
        "z": "efe2406464df235c",
        "name": "Leaving the Work time",
        "server": "f347e0c08d711612",
        "version": 3,
        "exposeAsEntityConfig": "",
        "entityId": "input_datetime.leaving_the_work",
        "property": "",
        "offset": "0",
        "offsetType": "num",
        "offsetUnits": "minutes",
        "randomOffset": false,
        "repeatDaily": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "sunday": true,
        "monday": true,
        "tuesday": true,
        "wednesday": true,
        "thursday": true,
        "friday": true,
        "saturday": true,
        "x": 160,
        "y": 640,
        "wires": [
            [
                "1129d9423b3804f1"
            ]
        ]
    },
    {
        "id": "1129d9423b3804f1",
        "type": "api-current-state",
        "z": "efe2406464df235c",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 3,
        "outputs": 2,
        "halt_if": "With",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.baruch_odem",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 700,
        "wires": [
            [
                "a3cbf3c8cffdc86a",
                "de5355eb752f338e"
            ],
            [
                "f08420f13a48df1e"
            ]
        ]
    },
    {
        "id": "a3cbf3c8cffdc86a",
        "type": "debug",
        "z": "efe2406464df235c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "f08420f13a48df1e",
        "type": "debug",
        "z": "efe2406464df235c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 820,
        "wires": []
    },
    {
        "id": "06efd09704d0ae69",
        "type": "inject",
        "z": "efe2406464df235c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "1129d9423b3804f1"
            ]
        ]
    },
    {
        "id": "de5355eb752f338e",
        "type": "api-call-service",
        "z": "efe2406464df235c",
        "name": "",
        "server": "f347e0c08d711612",
        "version": 6,
        "debugenabled": false,
        "action": "notify.mobile_app_baruch_phone",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"תזכורת\",\"message\":\"צריך ללכת הביתה\"}",
        "dataType": "json",
        "mergeContext": "callServiceData",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "domain": "notify",
        "service": "mobile_app_baruch_phone",
        "output_location": "",
        "output_location_type": "none",
        "x": 820,
        "y": 700,
        "wires": [
            [
                "9acb762197811c12"
            ]
        ]
    },
    {
        "id": "9acb762197811c12",
        "type": "subflow:7e9dbc3e6354d1a2",
        "z": "efe2406464df235c",
        "name": "Reset Leave the Work",
        "x": 1120,
        "y": 700,
        "wires": []
    },
    {
        "id": "f50eff4ff8c403ac",
        "type": "server-state-changed",
        "z": "7e5465b76654cc6f",
        "name": "Bettery Level under 20",
        "server": "f347e0c08d711612",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.baruch_phone_battery_level",
                "sensor.plpvn_zhr_battery_level"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "num",
        "ifState": "20",
        "ifStateType": "num",
        "ifStateOperator": "lt",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 340,
        "y": 325,
        "wires": [
            [
                "0689b14bbf21f844"
            ],
            []
        ]
    },
    {
        "id": "0689b14bbf21f844",
        "type": "switch",
        "z": "7e5465b76654cc6f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mobile_app_baruch_phone",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mobile_app_plpvn_zhr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 325,
        "wires": [
            [
                "b349cfee2e78cbeb"
            ],
            [
                "54f3355d82ef0f99"
            ]
        ]
    },
    {
        "id": "b349cfee2e78cbeb",
        "type": "change",
        "z": "7e5465b76654cc6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "ברוך",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 305,
        "wires": [
            [
                "8894ce5b0fa3c7fe"
            ]
        ]
    },
    {
        "id": "54f3355d82ef0f99",
        "type": "change",
        "z": "7e5465b76654cc6f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "זהר",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 365,
        "wires": [
            [
                "8894ce5b0fa3c7fe"
            ]
        ]
    },
    {
        "id": "8894ce5b0fa3c7fe",
        "type": "template",
        "z": "7e5465b76654cc6f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "סוללה חלשה אצל {{name}}!",
        "output": "str",
        "x": 880,
        "y": 325,
        "wires": [
            []
        ]
    },
    {
        "id": "60fc3bdfbac4c96a",
        "type": "comment",
        "z": "7e5465b76654cc6f",
        "name": "This is trying to notify when one of us lower battery",
        "info": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b100d7cc7ee2616",
        "type": "server-state-changed",
        "z": "eea98ea73f48dbd0",
        "name": "Climate Temperature Change",
        "server": "f347e0c08d711612",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "climate.mzgn"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 200,
        "y": 100,
        "wires": [
            [
                "8186356aadd159b1"
            ]
        ]
    },
    {
        "id": "8186356aadd159b1",
        "type": "switch",
        "z": "eea98ea73f48dbd0",
        "name": "Check Temperature Change",
        "property": "data.new_state.attributes.current_temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "data.old_state.attributes.current_temperature",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "66752e26de8dec82",
                "f99876602f074797"
            ]
        ]
    },
    {
        "id": "66752e26de8dec82",
        "type": "debug",
        "z": "eea98ea73f48dbd0",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "f99876602f074797",
        "type": "subflow:6dc0247c.d7210c",
        "z": "eea98ea73f48dbd0",
        "name": "",
        "env": [
            {
                "name": "service",
                "value": "mobile_app_baruch_phone",
                "type": "str"
            },
            {
                "name": "title",
                "value": "מזגן",
                "type": "str"
            },
            {
                "name": "message",
                "value": "From GPT",
                "type": "str"
            },
            {
                "name": "group",
                "value": null,
                "type": "str"
            }
        ],
        "x": 810,
        "y": 260,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "bdc793e1de102bbf",
        "type": "inject",
        "z": "d59d458fd90c2b97",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "2bec01e853ccc6e9",
                "997f295c3472d267"
            ]
        ]
    },
    {
        "id": "e3dfe4cdd8055376",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "without documents",
        "func": "const results = msg.payload.results\nconst withoutDocuments = results\n    .filter(res => res.document_count === 0)\n    .map(res => res.id)\n\nmsg.report = results\n    .filter(res => res.document_count === 0)\n    .map(res => res.name)\n\nmsg.payload = {\n  \"objects\": withoutDocuments,\n  \"object_type\": msg.subject,\n  \"operation\": \"delete\",\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 440,
        "wires": [
            [
                "dee99aed4b1cf432"
            ]
        ]
    },
    {
        "id": "888ddc885fdb2bab",
        "type": "subflow:7715d2a1a6ed6ca1",
        "z": "d59d458fd90c2b97",
        "name": "get objects",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "ce7d75a68c959ec4"
            ]
        ]
    },
    {
        "id": "40d9c3f9aca62325",
        "type": "subflow:7715d2a1a6ed6ca1",
        "z": "d59d458fd90c2b97",
        "name": "delete",
        "env": [
            {
                "name": "method",
                "value": "POST",
                "type": "str"
            },
            {
                "name": "endpoint",
                "value": "/api/bulk_edit_objects/",
                "type": "str"
            },
            {
                "name": "payload",
                "value": "",
                "type": "env"
            }
        ],
        "x": 750,
        "y": 560,
        "wires": [
            [
                "083d30163a51a8b2",
                "b27c1fa9805ca86f"
            ]
        ]
    },
    {
        "id": "dee99aed4b1cf432",
        "type": "switch",
        "z": "d59d458fd90c2b97",
        "name": "not empty",
        "property": "payload.objects",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 500,
        "wires": [
            [],
            [
                "40d9c3f9aca62325"
            ]
        ]
    },
    {
        "id": "f5369480717fd6e2",
        "type": "http request",
        "z": "d59d458fd90c2b97",
        "name": "discord",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://discord.com/api/webhooks/1313957435853242519/IBnV--WJRfyag7Az461OIjhuZVh-Qf8sBbSNmsdVS1kXa8-tF931YFxCOVwLp7MDNFI5",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1220,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "083d30163a51a8b2",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "build discord message",
        "func": "const subject = msg.subject\nif (msg.payload.result === \"OK\") {\n    msg.payload = {\n        content: `Deleted ${subject}: ${msg.report}`,\n        embeds: [\n            {\n                title: \"Success\",\n                description: `Details: ${msg.report}`,\n                color: 65280 // Green color in decimal\n            }\n        ]\n    };\n} else {\n    msg.payload = {\n        content: \"An error occurred!\",\n        embeds: [\n            {\n                title: \"Error\",\n                description: `There was an issue with the deleteing ${subject}.`,\n                color: 16711680 // Red color in decimal\n            }\n        ]\n    };\n}\ndelete msg.method\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 660,
        "wires": [
            [
                "f5369480717fd6e2"
            ]
        ]
    },
    {
        "id": "2bec01e853ccc6e9",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "tag, correspondents, document_types",
        "func": "const types = [\"tags\", \"correspondents\", \"document_types\"]\n\nreturn types.map(t => ({\n    endpoint: `/api/${t}/?ordering=document_count`,\n    subject: t\n}))",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "888ddc885fdb2bab"
            ],
            [
                "888ddc885fdb2bab"
            ],
            [
                "888ddc885fdb2bab"
            ]
        ]
    },
    {
        "id": "b27c1fa9805ca86f",
        "type": "debug",
        "z": "d59d458fd90c2b97",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "3f1af99d39cd84c2",
        "type": "subflow:7715d2a1a6ed6ca1",
        "z": "d59d458fd90c2b97",
        "name": "",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "c3dafa49fb8b7cf7"
            ]
        ]
    },
    {
        "id": "997f295c3472d267",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "46 without SUM",
        "func": "const notExists = [\"סכום\", \"exists\", false]\nconst inNull = [\"סכום\", \"isnull\", true]\n\nreturn [\n    {\n        endpoint: `/api/documents/?tags__name__iexact=46&tags__id__none=16&custom_field_query=${JSON.stringify(notExists)}`\n    },\n    {\n        endpoint: `/api/documents/?tags__name__iexact=46&tags__id__none=16&custom_field_query=${JSON.stringify(inNull)}`\n    }\n]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 40,
        "wires": [
            [
                "3f1af99d39cd84c2"
            ],
            [
                "3f1af99d39cd84c2"
            ]
        ]
    },
    {
        "id": "16118d5ff52d638a",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "add custom_field tag",
        "func": "const ids = msg.payload.results.map(r => r.id)\n\nmsg.report = msg.payload.results.map(r => r.title)\nmsg.payload = {\n  \"documents\": ids,\n  \"method\": 'add_tag',\n  \"parameters\": { \"tag\": 16 }\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 240,
        "wires": [
            [
                "dbafff725a300e92"
            ]
        ]
    },
    {
        "id": "dbafff725a300e92",
        "type": "subflow:7715d2a1a6ed6ca1",
        "z": "d59d458fd90c2b97",
        "name": "",
        "env": [
            {
                "name": "method",
                "value": "POST",
                "type": "str"
            },
            {
                "name": "endpoint",
                "value": "/api/documents/bulk_edit/",
                "type": "str"
            }
        ],
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "ab47e7a8d2772bde"
            ]
        ]
    },
    {
        "id": "c3dafa49fb8b7cf7",
        "type": "switch",
        "z": "d59d458fd90c2b97",
        "name": "not empty",
        "property": "payload.results",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "16118d5ff52d638a"
            ]
        ]
    },
    {
        "id": "ce7d75a68c959ec4",
        "type": "switch",
        "z": "d59d458fd90c2b97",
        "name": "if tags",
        "property": "subject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tags",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "2a5c87f804b9e5d2"
            ],
            [
                "e3dfe4cdd8055376"
            ]
        ]
    },
    {
        "id": "2a5c87f804b9e5d2",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "filter keep tags",
        "func": "const keepTags = [\n    env.get('inbox_tag'),\n    env.get('add_custom_field_tag')\n]\n\nmsg.payload.results = msg.payload.results\n    .filter(res => !keepTags.includes(res.id))\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 400,
        "wires": [
            [
                "e3dfe4cdd8055376"
            ]
        ]
    },
    {
        "id": "ab47e7a8d2772bde",
        "type": "function",
        "z": "d59d458fd90c2b97",
        "name": "build discord message",
        "func": "if (msg.payload.result === \"OK\") {\n    msg.payload = {\n        content: `Added custom_field tag to ${msg.report.length} documents`,\n        embeds: [\n            {\n                title: \"Success\",\n                description: `Details:\\n${msg.report.join('\\n')}`,\n                color: 65280 // Green color in decimal\n            }\n        ]\n    };\n} else {\n    msg.payload = {\n        content: \"An error occurred!\",\n        embeds: [\n            {\n                title: \"Error\",\n                description: `There was an issue with adding custom_field tag.`,\n                color: 16711680 // Red color in decimal\n            }\n        ]\n    };\n}\ndelete msg.method\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "f5369480717fd6e2"
            ]
        ]
    }
]